<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>success</h1>

<!--<div th:text="${map['hello']}"></div>-->
<!--<div th:text="${map['age']}"></div>-->
<!--<div th:text="${map.grade}"></div>-->
<!--    [[${username}]]-->
<h1>status:[[${status}]]</h1>
<h1>timestamp:[[${timestamp}]]</h1>
<h1>message:[[${message}]]</h1>
<h1>exception:[[${exception}]]</h1>
<h1>ext:[[${ext.code}]]</h1>
<h1>ext:[[${ext.message}]]</h1>
</body>
</html>